{% extends 'base.html.twig' %}

{% block title %}TypeEntreprise{% endblock %}

{% block body %}
    <h1>TypeEntreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_entreprise.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_entreprise_index') }}">back to list</a>

    <a href="{{ path('type_entreprise_edit', {'id': type_entreprise.id}) }}">edit</a>

    {{ include('type_entreprise/_delete_form.html.twig') }}
{% endblock %}
