{% extends 'base.html.twig' %}

{% block title %}Commerce{% endblock %}

{% block body %}
    <h1>Commerce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commerce.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ commerce.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ commerce.imageFile }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ commerce.telephone }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ commerce.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Numero_siret</th>
                <td>{{ commerce.numeroSiret }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ commerce.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ commerce.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ commerce.codePostal }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ commerce.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commerce_index') }}">retour à la liste</a>

    <a href="{{ path('commerce_edit', {'id': commerce.id}) }}">modifier</a>

    {{ include('commerce/_delete_form.html.twig') }}
{% endblock %}
